<!-- entries_path sends to EntryController.create -->
<%= form_for :entry, url: entries_path do |form| %>

<p>
  <%= form.label "Date" %> <br />
  <%= form.date_select :occurs %>
</p>

<p>
  <%= form.label "Short description" %> <br />
  <%= form.text_field :short_desc %>
</p>

<p>
  <%= form.label "Long description" %> <br />
  <%= form.text_area :long_desc %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %> 
