<h1>New Timeline</h1>

<%= form_for :timeline, url: timelines_path do |f| %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :short_title %>
  </p>
 
  <p>
    <%= f.label :start_date %><br>
    <%= select_date Date.today, prefix: :start_date %> 
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= select_date Date.today, prefix: :end_date %> 
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %> 
