<script type="text/javascript">
   function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>

<h1>
  <strong> <%= @timeline.short_title %> </strong>
</h1>

<p> Starting date: <%= @timeline.start_date.inspect %> </p> 

<p> <ul>
<% @sorted_entries.each do |entry| %>
  <li onclick="toggle_visibility(<%= entry.id %>)" > 
    <%= entry.time %> : <strong> <%= entry.short_title %> </strong> <div id="<%= entry.id %>" style="display:none"> <%= entry.long_description %> </div> 
  </li>
<% end %>
</ul></p>

<h2> Add an entry: </h2>
<%= form_for ([@timeline, @timeline.timeline_entries.build]) do |f| %>
  <%= f.label :title %> <br/>
  <%= f.text_field :short_title %> <br/>
  <%= f.label :description %> <br/>
  <%= f.text_area :long_description %> <br/>
  <%= f.label :date %><br>
  <%= select_date Date.today, prefix: :time %> <br/>
  <%= f.submit %>
<% end %> 

<p> Ending date: <%= @timeline.end_date.inspect %> </p> 

<p> <%= link_to 'Delete this timeline', timeline_path(@timeline), method: :delete %> </p> 
 
